In [1]:
import pandas as pd

In [2]:
vac_df = pd.read_csv("country_vaccination_stats.csv")

In [3]:
vac_df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [4]:
vac_df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

<h3> Question 4 </h3>

<b> Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries. </b>

Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero).

In [5]:
new_df = (vac_df
 .assign(daily_vaccinations=(vac_df
                             .groupby('country')                     # group by each country
                             .daily_vaccinations                     # get the daily vaccinations
                             .transform(lambda g: g.fillna(g.min())) # fill the every group with min vaccination
                            ).fillna(0)                              # if still there are na values fill it with 0, as question suggests
        )
)

print(f"Number of null values: {new_df.daily_vaccinations.isnull().sum()}")

Number of null values: 0

<h3> Question 5 </h3>

<b> Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset. </b>

In [6]:
(new_df
 .groupby("country")               # groupby each country
 .daily_vaccinations               # get the daily vaccinations
 .median()                         # find the median for every country
 .sort_values(ascending=False)[:3] # sort by value and get the top 3 country
)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

<h3> Question 6 </h3>

<b> What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? </b>

In [7]:
(new_df
 .loc[new_df.date == '1/6/2021'] # filter by 1/6/2021 
 .daily_vaccinations # get the daily vaccinations 
 .sum() # and sum it
)

1485255.0

<h3> Question 7 </h3>

<b> If this list would be a database table, please provide SQL query to fill in the missing daily vaccination numbers with discrete median of country as similar to question a. </b>

SQL statement:

In [ ]:
update country_vaccination_stats
set daily_vaccinations = (
  select MEDIAN(daily_vaccinations) 
  from country_vaccination_stats as t
  WHERE country_vaccination_stats.country = t.country AND t.daily_vaccinations IS NOT NULL
 )
where daily_vaccinations is NULL
 
 #if still there are na values, fill with 0
update country_vaccination_stats 
set daily_vaccinations = 0 
where daily_vaccinations is NULL

<h3> Question 8 </h3>

Create the sample dataframe to work on.

In [8]:
stats_access_df = pd.DataFrame({
    'Device_Type' : ['AXO145','TRU151','ZOD231','YRT326','LWR245'],
    'Stats_Access_Link' : ['<url>https://xcd32112.smart_meter.com</url>',
                           '<url>http://tXh67.dia_meter.com</url>',
                           '<url>http://yT5495.smart_meter.com</url>',
                           '<url>https://ret323_TRu.crown.com</url>',
                           '<url>https://luwr3243.celcius.com</url>',]
    
})

stats_access_df

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [9]:
(stats_access_df
 # assign extracted url column
 .assign(extracted_url=(stats_access_df
                       .Stats_Access_Link
                       .str.extract(r'<url>https?://(.+?)</url>')) #extract the url between the pattern '<url>https?://</url>'
        )
)

,Device_Type,Stats_Access_Link,extracted_url
0,AXO145,<url>https://xcd32112.smart_meter.com</url>,xcd32112.smart_meter.com
1,TRU151,<url>http://tXh67.dia_meter.com</url>,tXh67.dia_meter.com
2,ZOD231,<url>http://yT5495.smart_meter.com</url>,yT5495.smart_meter.com
3,YRT326,<url>https://ret323_TRu.crown.com</url>,ret323_TRu.crown.com
4,LWR245,<url>https://luwr3243.celcius.com</url>,luwr3243.celcius.com